@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,100;1,300&display=swap');

*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    /* -webkit-box-sizing: border-box; */
    /* box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: capitalize; */
    /* -webkit-transition: 2s linear; */
    /* transition: 2s linear; */
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
    scroll-padding-top: 5rem;
}

html::-webkit-scrollbar{
    width:1.5rem;
    
}

html::-webkit-scrollbar-track{
    background: #ffffff;
}

html::-webkit-scrollbar-thumb{
    background: rgb(113, 116, 115);
     border-radius: 20px;
}
section{
    padding:5rem 9%;
}

.btn{
    margin-top:1rem;
    display: inline-block;
    border: 0.2rem solid #10221b;
    color: #10221b;
    cursor:pointer;
    background:none;
    font-size:1.7rem;
    padding:1rem 3rem;
}
.btn:hover{
    background: #10221b;
    color: #ffffff;
}

.heading{
    text-align: center;
    margin-bottom:2rem;
    font-size: 4rem;
    color: #10221b;
}
.heading span{
    color: #0d7fcc;
}

.header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding: 2rem 9%;
    z-index: 1000;
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    align-items: center;
}
.header.active{
    background: #fff;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
}

.header .logo{
    margin-right: auto;
    font-size: 2.5rem;
    color: #10221b;
    font-weight: bolder;
}

.header .logo i{
    color: #219150;
}

.header .navbar a{
    margin-left: 2rem;
    font-size: 1.7rem;
    color: #10221b;
    text-align: center;
    float: center;
}
.header .navbar a:hover{
    color: #0d7fcc;
}

.header .navbar #nav-close{
    font-size: 5rem;
    cursor: pointer;
    color: #10221b;
    display: none;
}

.header .icons a,
.header .icons div{
    font-size: 2.2rem;
    margin-left: 2rem;
    cursor: pointer;
    color: #10221b;
}

.header .icons a:hover,
.header .icons div:hover{
 color: #0d7fcc;
}

.header #menu-btn{
    display: none;
}

.home{
    padding:0;
}

.home .box{
    min-height: 100vh;
    display:-webkit-box;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    background-size: cover !important;
    background-position: center !important;
    justify-content: flex-end;
    padding:2rem 9%;
}

.home .box.second{
    justify-content: flex-start;
}

.home .box .content{
    width:50rem;
}
.home .box .content span{
    font-size:4rem;
    color: #10221b;
}
.home .box .content h3{
    font-size:6rem;
    color: #ffffff;
    padding-top: .5rem;
    text-transform: uppercase;
}
.home .box .content p{
    line-height:    2;
    color: #10221b;
    font-size: 1.5rem;
    padding: 1rem 0;
}

.swiper-button-next::after,
.swiper-button-prev::after{
    font-size: 3rem;
    color: #10221b;
}

.category1 .box-container{
    display: -ms-grid;
    display:grid;
    /* -ms-grid-columns: (minmax(29rem, 1fr))[auto-fit]; */
    grid-template-columns: repeat(auto-fit, minmax(29rem, 1fr));
    gap:1.5rem;
}
.category1 .box-container .box{
    text-align:center;
    padding:1rem;
}
.category1 .box-container .box img{
    height:15rem;
    width:15rem;
    border-radius:50%;
    margin-bottom:1rem;
}
.category1 .box-container .box h3{
    font-size:2rem;
    color: #219150;
}
.category1 .box-container .box p{
    font-size:1.5rem;
    color: #10221b;
    padding:1rem 0;
    line-height:2;
}

.about{
    background: #eee;
    display: -webkit-box;
    display: -ms-flexbox;
    display:flex;
    /* -webkit-box-align: center; */
    /* -ms-flex-align: center; */
    align-items: center;
    /* -ms-flex-wrap: wrap; */
    flex-wrap: wrap;
    gap:2rem;
}
.about .img{
    /* -webkit-box-flex: 1; */
    /* -ms-flex:1 1 42rem; */
    flex:2 2 42rem;
    padding-right: 5rem;
    padding-bottom: 5rem;
}
.about .img img{
    width: 100%;
    /* -webkit-box-shadow:4rem 4rem 0 rgba(0, 0, 0, 0.1); */
    box-shadow:4rem 4rem 0 rgba(0, 0, 0, 0.1);
}
.about .content{
    /* -webkit-box-flex: 1; */
    /* -ms-flex: 1 1 42rem; */
    flex: 1 1 42rem;
}
.about .content h3{
    text-align: center;
    font-size: 1.5rem;
    color: #000000;
}
.about .content p{
    text-align: justify;
    font-size:1.5rem;
    color: #10221b;
    padding: 1rem 0;
    line-height:2;
}


.category .slide{
    border: 0.2rem solid #10221b;

}
.category .slide:hover .img .icons{
    /* -webkit-transform: translateY(0); */
    transform: translateY(0);
}

.category .slide .img{
    position: relative;
    overflow: hidden;
    height:30rem;
    width:100%;
}
.category .slide .img img{
    height: 100%;
    width: 100%;
    /* -o-object-fit: cover; */
    object-fit: cover;
}
.category .slide .img .icons{
    width: 100%;
    position: absolute;
    bottom: 2rem;
    left:0;
    text-align: center;
    z-index:10;
    /* -webkit-transform: translateY(7rem); */
    transform:translateY(7rem);
}

.category .slide .img .icons a{
    height:2.5rem;
    width:2.5rem;
    line-height: 2.5rem;
    font-size: 1.7rem;
    background: #102210;
    color: #fff;
    margin:0.2rem;
}
.category .slide .img .icons a:hover{
    background: #219150;
}

.category .slide .content{
    padding: 1rem 0;
    text-align: center;
}
.category .slide .content h3{
    font-size:2rem;
    color: #10221b;
}
.category .slide .content .price{
    padding:1rem 0;
    padding-top: .5rem;
    font-size:2rem;
    color: #219150;
}
.category .slide .content .starts i{
    font-size: 1.7rem;
    color: #10221b;
}

.packages{
    background: #fff;
}
.packages .box-container{
    display: grid;
    display: -ms-grid;
    /* -ms-grid-columns: (minmax(32rem, 1fr))[auto-fit]; */
    grid-template-columns: repeat(auto-fit, minmax(32rem, 1fr));
    gap: 1.5rem;
}
.packages .box-container .box{
    text-align: center;
    background: #fff;
    border:0.2rem solid #10221b;
    /* -webkit-box-shadow:0 0.5rem 1rem rgba(0, 0, 0, 0.1); */
    /* box-shadow:0 0.5rem 1 rgba(0, 0, 0, 0.1); */
    border-radius: .5rem;
}
.packages .box-container .box:hover{
    background: #10221b;
}
.packages .box-container .box:hover .content > *{
    color: #fff;
}
.packages .box-container .box:hover .btn{
    border-color: #fff;
}
.packages .box-container .box:hover .btn:hover{
    background: #fff;
    color: #10221b;
}

.packages .box-container .box .img{
    height:25rem;
    overflow:hidden;
    padding: 2rem;
    padding-bottom: 0;
    border-radius: .5rem;
}
.packages .box-container .box .img img{
    height:100%;
    width:100%;
    /* -o-object-fit: cover; */
    object-fit: cover;
    border-radius: .5rem;
}
.packages .box-container .box .content{
    padding:2rem;
}
.packages .box-container .box .content h3{
    font-size:2rem;
    color: #10221b;
}
.packages .box-container .box .content p{
    font-size:1.5rem;
    color: #10221b;
    padding: 1rem 0;
    line-height:2;
}
.packages .box-container .box .content .price{
    font-size: 2rem;
    color: #219150;
}

.services{
    background: #eee;
}
.services .box-container{
    display: grid;
    display: -ms-grid;
    /* -ms-grid-columns: (minmax(31rem, 1fr))[auto-fit]; */
    grid-template-columns: repeat(auto-fit, minmax(31rem, 1fr));
    gap: 1.5rem;
}
.services .box-container .box{
    text-align: center;
    padding: 2rem;
    border: 0.2rem solid #10221b;
    border-radius:.5rem;
    background: #fff;
}
.services .box-container .box:hover{
    background: #10221b;
}
.services .box-container .box:hover img{
    /* -webkit-filter: invert(1); */
    filter:invert(1);
}
.services .box-container .box:hover p{
    color: #fff;
}
.services .box-container .box:hover .btn{
    border-color: #fff;
    color: #fff;
}
.services .box-container .box:hover .btn:hover{
    background: #fff;
    color: #10221b;
}
.services .box-container .box img{
    height:10rem;
    margin-bottom:1rem;
}
.services .box-container .box h3{
    font-size: 2rem;
    color: #219150;
}
.services .box-container .box p{
    font-size: 1.5rem;
    color: #10221b;
    padding: 1rem 0;
    line-height:2;
}

.reviews .slide .text{
    padding: 2rem;
    font-size: 1.5rem;
    font-style: italic;
    background: #eee;
    border-radius: .5rem;
    color: #10221b;
    line-height:2;
    position: relative;
    z-index: 0;
    margin-bottom: 3rem;
}
.reviews .slide .text::before{
    content: "";
    position: absolute;
    bottom:-1.5rem;
    left: .7rem;
    height:3rem;
    width: 3rem;
    background: #eee;
    /* -webkit-transform: rotate(45deg); */
    transform: rotate(45deg);

}
.reviews .slide .user{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    /* -webkit-box-align: center; */
    /* -ms-flex-align: center; */
    align-items: center;
    gap:1rem;
}
.reviews .slide .user img{
    height:7rem;
    width:7rem;
    border-radius: 50%;
}
.reviews .slide .user h3{
    font-size: 2rem;
    color: #10221b;
}
.reviews .slide .user span{
    color: #219150;
    font-size: 1.5rem;
}

.blogs .slide{
    text-align: center;
    padding:2rem;
}
.blogs .slide img{
    height:25rem;
    width: 100%;
    /* -o-object-fit: cover; */
    object-fit: cover;
    border-radius: .5rem;
}
.blogs .slide .icons{
    background: #10221b;
    border-radius: .5rem;
    padding: 1rem;
    position: relative;
    top: -2rem;
    display: inline-block;
}
.blogs .slide .icons a{
    font-size: 1rem;
    color: #fff;
    margin: 0.1rem;
}
.blogs .slide .icons a:hover{
    color: #219150;
}
.blogs .slide .icons a i{
    padding-right: .5rem;
    color: #219150;
}
.blogs .slide h3{
    font-size:2rem;
    color: #10221b;
}
.blogs .slide p{
    font-size: 1.4rem;
    padding:1rem 0;
    line-height:2;
    color: #10221b;
}

.login{
    background: #eee;
}

.login .content{
    max-width: 70rem;
    margin: 1rem auto;
    text-align: center
}
.login .content p, p2{
    font-size: 1.5rem;
    line-height: 2;
    color: #10221b;
}
.login .content form{
    margin-top: 2rem;
    background: #fff;
    border-radius: 5rem;
    border: 0.2rem solid #10221b;
    padding:.7rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display:flex;
}

.login .content form{
    margin-top: 2rem;
    margin-bottom: 2rem;
    background: #fff;
    border-radius: 5rem;
    border: 0.2rem solid #10221b;
    padding:.7rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display:flex;
}

.login .content form .username{
    width:100%;
    background:none;
    text-transform: none;
    font-size: 1.6rem;
    color: #10221b;
    padding:0 1.3rem;
}

.login .content form .password{
    width:100%;
    background:none;
    text-transform: none;
    font-size: 1.6rem;
    color: #10221b;
    padding:0 1.3rem;
}

.login .content form .btn{
    margin-top:0;
    border-radius: 5rem;
    background: #10221b;
    color: #fff;
}
.login .content form .btn:hover{
    background: none;
    color: #10221b;
}

.clients .slide{
    text-align: center;
}

.clients .slide img{
    height: 12rem;
}


.footer{
    background-color: #000000;
    text-align: center;
}
.footer .box-container{
    display: -ms-grid;
    display:grid;
    /* -ms-grid-columns: (minmax(25rem, 1fr))[auto-fit]; */
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    gap:1rem;

}
.footer .box-container .box h3{
    font-size: 2rem;
    padding:1.5rem 0;
    color:#fff;
}
.footer .box-container .box a{
    display:block;
    font-size: 1.4rem;
    color: #fff;
    padding:1rem 0;
}
.footer .box-container .box a i{
    color: #0d7fcc;
    padding-right: .5rem;
}
.footer .box-container .box a:hover{
    color: #0d7fcc;
}
.footer .box-container .box a:hover i{
    padding-right: 2rem;
}
.footer .credit{
    text-align: center;
    margin-top:2.5rem;
    padding: 1rem;
    padding-top: 2.5rem;
    font-size: 2rem;
    color: #fff;
}
.footer .credit span{
    color: #0d7fcc;
}

.rating-box {
    position: relative;
    background: #fff;
    padding: 10px 20px 10px;
    border-radius: 25px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.05);
  }
  .rating-box header {
    font-size: 12px;
    color: #dadada;
    font-weight: 500;
    margin-bottom: 10px;
    justify-content: center;
    text-align: center;
  }
  .rating-box .stars {
    margin-top:30px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 25px;
  }
  .stars i {
    color: #e6e6e6;
    font-size: 35px;
    cursor: pointer;
    transition: color 0.2s ease;
  }
  .stars i.active {
    color: #ff9c1a;
  }

  .contact-col{
    flex-basis: 48%;
    margin-bottom: 30px;
}
.contact-col div{
    display: flex;
    align-items: center;
    margin-bottom: 40px;
}
.contact-col div .fa{
    font-size: 20px;
    color: #f44334;
    margin: 10px;
    margin-right: 30px;
}
.contact-col div p{
    padding: 0;
}
.contact-col div h5{
    font-size: 20px;
    margin-bottom: 5px;
    color: #555;
    font-weight: 400;
}

.contact-col input,
.contact-col textarea{
    width: 100%;
    padding: 15px;
    margin-bottom: 17px;
    box-sizing: border-box;
    border: none;
    outline: none;
    border: 1px solid #ccc;
}

/*facilities*/

.place .row{
    margin-top: 5%;
    display: flex;
    justify-content: space-between;

}

.place{
    width: 100%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
}
.place p{
    text-align: center;
    font-size:1.5rem;
    color: #10221b;
    padding: 1rem 0;
    line-height:2;
}
.place-col{
    flex-basis: 24%;
    border-radius: 10px;
    margin-bottom: 10px;
    text-align: center;
}
.place-col img{
    height:25rem;
    width: 80%;
    /* -o-object-fit: cover; */
    object-fit: cover;
    border-radius: .5rem;
}

.place-col p{
    font-size: 10px;
   padding: 0;
}
.place-col h3{
    text-align: center;
    font-size: 1.5rem;
    color: #000000;
}

.place .place-col .icons{
    width: 100%;
    /* position: absolute; */
    bottom: 2rem;
    left:0;
    text-align: center;
    z-index:10;
    /* -webkit-transform: translateY(7rem); */
    /* transform:translateY(7rem); */
}

.place .place-col .icons a{
    height:2.5rem;
    width:2.5rem;
    line-height: 2.5rem;
    font-size: 1.7rem;
    background: #102210;
    color: #fff;
    margin:0.2rem;
}
.place .place-col .icons a:hover{
    background: #219150;
}

.progress-label-left
{
    float: left;
    margin-right: 0.5em;
    line-height: 1em;
}
.progress-label-right
{
    float: right;
    margin-left: 0.3em;
    line-height: 1em;
}
.star-light
{
	color:#e9ecef;
}

/* media queries */
/* @media (max-width:1200px){
    .header{
        padding: 2rem;
    }
    section{
        padding: 3rem 2rem;
    }
}

@media (max-width:991px){
    html{
        font-size: 55%;
        scroll-padding-top: 7rem;
    }
    .home .box{
        padding: 2rem;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content:center;
        background-position: right !important;
    }
    .home .box.second{
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        background-position: left !important;
    }
    .home .box .content{
        text-align: center;
    }
    .home .box .content span{
        font-size:3rem;
    }
    .home .box .content h3{
        font-size:4rem;
    }

}

@media (max-width:768px){
    .header #menu-btn{
        display: inline-block;
    }
    .header .navbar{
        position: fixed;
        top: 0;
        left: -110%;
        background:#fff;
        z-index: 1000;
        width:35rem;
        height: 100%;
        display:-webkit-box;
        display:-ms-flexbox;
        display:flex;
        --webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-flow: column;
        flex-flow: column;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content:center;

    }
    .header .navbar a{
        margin: 1rem 0;
        font-size: 3rem;
    }
    .header .navbar #nav-close{
        display: block;
        position: absolute;
        top: 1rem;
        right:2rem;
    }
    .header .navbar.active{
        left: 0;
        -webkit-box-shadow:0 0 0 100vw rgba(0, 0, 0, 0.8);
        box-shadow: 0 0 0 100vw rgba(0, 0, 0, 0.8);
    }
    .swiper-button-next::after,
    .swiper-button-prev::after{
    display:none;
}
}



@media (max-width:450px){
    html{
        font-size: 50%;

    }
    .heading{
        font-size:3rem;
    }


} */